body {
  background:#eef3ff;
  font-family: Arial;
}

.container {
  width: 420px;
  margin: 80px auto;
  background: #fff;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color:#0057ff;
  margin-bottom: 8px;
}

.subtitle {
  color:#777;
  margin-bottom:18px;
}

input {
  width: 88%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border:1px solid #bbb;
  font-size: 15px;
}

.btn {
  width: 95%;
  background: #0057ff;
  padding: 12px;
  font-size: 18px;
  border: none;
  color: white;
  border-radius: 8px;
  cursor:pointer;
}

.btn:hover {
  background:#004ae0;
}
